@font-face {
    font-family: roboto;
    src: url("./Roboto/Roboto-Regular.ttf");
}
:root{
    overflow: hidden;
    --contrast-color: #60A5FA;
    --backGround-color: #BFDBFE;
    --layer-color: #EFF6FF;
}

body{
    margin: 0;
	padding: 0;
}
main{
    display:flex;
    flex-direction: row;
    font-family: roboto;
    color: wheat;
}

.leftSide{
    height: 100vh;
    width: 25vw;

    padding: 10px;

    background-color: var(--contrast-color);
}

.leftSide .navBar{
    display: flex;
    flex-direction: column;

    height: inherit;
    width: inherit;

    background-color: var(--contrast-color);
}

.navBar .header{
    height: 10vh;
    padding: 5px;

    display:grid;
    grid-template-columns: 30% 70%;
    text-align: center;
    align-items: center;
    overflow: hidden;

    font-size: larger;
}

.navBar .header img{
    width: 75%;
    height: 75%;
}

.navBar .header a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
}


.navBar .pageNav{
    flex:1;
    background-color: rgba(0, 0, 0, 0.4);
    
    display: flex;
    flex-direction: column;
}

.navBar .pageNav button{
    all:unset;
    cursor: pointer;

    display: grid;
    grid-template-columns: 20% 80%;
    text-align: left;    
}

.navBar .pageNav button:hover{
    background-color: black;
}

.navBar .pageNav img{
    width: 1rem;
    height: 1rem;
}

.navBar .pageNav .separater{
    height: 7vh;
}

.navBar .pageNav .separater:hover{
    background-color: transparent;
}




.rightSide{
    background-color: var(--backGround-color);

    height: 100vh;
    width: 75vw;

    display: flex;
    flex-direction: column;
}

.rightSide .header{
    height: 20vh;

    background-color: var(--layer-color);
}

.rightSide .header .searchBar{
    height: 50%;

    background-color: rgba(0, 0, 0, 0.3);
}

.rightSide .header .userGreet{
    height: 50%;

    background-color: rgba(0, 0, 0, 0.4);
}

.rightSide .body{
    flex: 1;
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: row;
}

.rightSide .body .project{
    width: 70%;

    background-color:  rgba(255, 255, 255, 0.3);
}

.rightSide .body .suggestion{
    flex: 1;
    background-color:  rgba(255, 255, 255, 0.4);
}






