@font-face {
	font-family: roboto;
	src: url("./Roboto/Roboto-Regular.ttf");
}
:root {
	overflow: hidden;
	--contrast-color: #60a5fa;
	--backGround-color: #bfdbfe;
	--layer-color: #eff6ff;
}

/* remove styling  */
button {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
	margin: 0;
	padding: 0;
}
main {
	display: flex;
	flex-direction: row;
	font-family: roboto;
	color: black;
}

p {
	margin: 0;
}

br {
	height: 1rem;
}

/* --------------Left Side------------- */

.leftSide {
	height: 100vh;
	width: 20vw;

	background-color: var(--contrast-color);
}

.leftSide .navBar {
	display: flex;
	flex-direction: column;

	height: inherit;
	width: inherit;

	background-color: var(--contrast-color);
}

.navBar .header {
	height: 10vh;
	padding: 5px;

	margin-left: -5px;

	display: grid;
	grid-template-columns: 30% 70%;
	text-align: center;
	align-items: center;
	overflow: hidden;

	font-size: larger;
	font-weight: bolder;
}

.navBar .header img {
	width: 75%;
	height: 75%;
}

.navBar .header a {
	font-size: 2rem;
	text-decoration: none;
	color: white;
}

.navBar .pageNav {
	flex: 1;
    padding-top: 1rem;

    color:white;

	display: flex;
	flex-direction: column;

}

.navBar .pageNav button {
	all: unset;
	cursor: pointer;

    height: 2rem;
	padding: 5px;

	display: flex;
	flex-direction: row;
    align-items: center;
}


.navBar .pageNav button:hover {
	background-color: rgb(68, 121, 185);
}

.navBar .pageNav img {
	width: 1rem;
	margin: 0 5px 0 5px;
	margin-right: 1rem;
	cursor: crosshair;
}

.navBar .pageNav .separater {
	height: 7vh;
	cursor: default;
}

.navBar .pageNav .separater:hover {
	background-color: transparent;
}

/* --------------Other Side------------- */

.rightSide {
	background-color: var(--backGround-color);

	height: 100vh;
	width: 80vw;

	display: flex;
	flex-direction: column;
}

/* --------------Header------------- */

.rightSide .header {
	height: 20vh;
    box-shadow: 3px 3px 15px grey;

	background-color: var(--layer-color);
}

.rightSide .header {
	height: 15vh;

	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
}

.rightSide .header .searchBar {
	grid-column-start: 1;
	grid-column-end: 4;

	display: flex;
	align-items: center;
}

.rightSide .header .searchBar .bar {
	position: relative;
	height: 2rem;
	width: 90%;
	margin-left: 5%;

	background-color: white;
	border-radius: 10rem;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.25rem;
}

.rightSide .header .searchBar .bar input {
	height: 1rem;
	width: 85%;

	border: none;
}

.rightSide .header .searchBar .bar input:focus {
	outline: none;
}

.rightSide .header .searchBar .bar button {
	height: 24px;
}

.rightSide .header .profile {
	grid-column-start: 4;
	grid-column-end: 6;

	display: flex;
	flex-direction: row;
	justify-content:right;
	align-items: center;
	gap: 2rem;
	padding-right: 2rem;
}

.rightSide .header .profile .notification {
	background-image: url("./img/notification.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.rightSide .header .profile .profilePic {
	background-image: url("./img/dog.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.rightSide .header .profile .profileName{
	font-size: larger;
	font-weight: bolder;
}

.rightSide .header .userGreet {
	grid-column-start: 1;
	grid-column-end: 4;

	display: flex;
	flex-direction: row;
	gap: 1rem;
	width: 100%;

	padding-left: 5%;
}

.rightSide .header .userGreet button {
	background-image: url("./img/dog.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	margin-bottom: 1px;

	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
}

.rightSide .header .userGreet .greetMessage > a {
	font-size: 10px;
}
.rightSide .header .userGreet .greetMessage > p {
	margin-top: 0.25rem;
	margin-bottom: 0;
}

.rightSide .header .createNewProject {
	grid-column-start: 4;
	grid-column-end: 6;

	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 0 1rem 0 1rem;
	gap: 1rem;
}

.rightSide .header .createNewProject button {
	background-color: var(--contrast-color);
	border-radius: 1rem;

	width: 30%;
	height: 50%;
}

/* --------------right lower------------- */

.rightSide .body {
	flex: 1;

	display: flex;
	flex-direction: row;
}

.rightSide .body .projects {
	width: 75%;
}

.rightSide .body .grouping {
	max-width: 100%;
	height: 81vh;
	padding: 1rem;

	display: grid;
	grid-template: 15rem 15rem / minmax(250px, 1fr) minmax(250px, 1fr);
	grid-auto-rows: 15rem;
	gap: 1rem;

	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.rightSide .body .grouping::-webkit-scrollbar {
	display: none;
}


.project {
	background-color: white;
	border-radius: 10px;
    box-shadow: 3px 3px 15px grey;

    height: 14rem;

	display: grid;
	grid-template-columns: 0.5rem 1fr;
	gap: 0.5rem;

    overflow: hidden;
}

.project .sideColor {
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
	background-color: yellowgreen;
}

.project .content {
	margin: 5px;
	background-color: inherit;

    height: inherit;

	display: grid;
    grid-template-rows: 10% 80%;
    gap: 0.5rem;
}

.project .content .title{
    font-size: larger;
    font-weight: bolder;
    overflow: auto;
}

.project .content .textContainer{
    overflow: scroll;
    font-size: small;
    -ms-overflow-style: none;
	scrollbar-width: none;
}


/* --------------annoucement part------------- */


.rightSide .body .annoucement {
	flex: 1;
	height: 83vh;

	padding: 0.5rem;

	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 1rem;
}

.rightSide .body .annoucement > div {
	padding: 1rem;
    background-color: #eff6ff8a;
    border-radius: 10px;

    box-shadow: 3px 3px 15px grey;

	display: grid;
	grid-template-rows: 1fr 2px 1fr 2px 1fr;
}

.lineBreak{
    background-color: rgb(134, 134, 134);
    border-radius: 10rem;
}

.rightSide .body .annoucement > div .title {
   font-size: 1.2rem;
   font-weight: bolder;
}

.rightSide .body .annoucement > div .text{
    font-size: 0.7rem;
}

.rightSide .body .annoucement .trending .suggest{
	display: flex;
	flex-direction: row;

	align-items: center;
}

.rightSide .body .annoucement .trending .suggest img{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.rightSide .body .annoucement .trending .suggest .description{
	margin-left: 1rem;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.rightSide .body .annoucement .trending .suggest .description .name{
	font-size: larger;
	font-weight: bolder;
}

.rightSide .body .annoucement .trending .suggest .description{
	color: rgba(0, 0, 0, 0.5);
}


